header {
    background: url(images/central_park.jpg) 0 -200px no-repeat;  /* place image as background */
    /* background-size: 1500px; */
    /*background-position: 0 -200px;*/
    /*background-repeat: no-repeat;*/
    
    background-position: center center;
    /* background-attachment: fixed; */
    background-size: cover;
    
    height: 400px; /* give header some height to display the background image */
    padding-top: 100px;
    padding-left: 100px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  li {
    list-style-type: none;
    display: inline;
    padding: 0 20px;
  }
  li a {
    text-decoration: none; /* Remove Underline */
  }
  li a:link {
    color: #000; /* Before Click */
  }
  li a:visited {
    color:#818db3; /* After Click */
  }
  li a:hover {
    color:#333; /* Mouse Over */
  }
  li a:active {
    color:#753a30; /* Mouse Down */
  }
  nav {
    background-color:rgb(255, 245, 238);
    height: 50px;
    text-align: center;
    padding-top: 2px;
  }
  main {
    margin: 50px;
  }
  main h1 {
    color:rgb(129, 141, 179);
    font-family: arial;
  }
  footer {
    height: 40px;
    background-color:rgb(129, 141, 179);
    text-align: center;
    padding-top: 20px;
    color:rgb(211, 218, 240);
  }

  .card {
    /* max-width: 90%; */
    padding: 1rem;
    width: 80%;
  }

  .cards {
    max-width: 90%; 
    margin: 0 auto;
    display: grid;
    grid-gap: 0.5rem;
    /* display: flex; */
  }
  
  /* make image responsive*/
  
  /* .card img {
    max-width: 100%;
    height: auto;
  }  */

  main img {
    width: 100%;
    height: auto;
  }

  /* For screens larger than 600px - display 2 column*/
  @media (min-width: 600px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
      /* flex-direction: row; */
    }
  }

  /* For screens smaller than 600px - stack*/
  /* @media only screen and (max-width: 600px) {
    header {
      font-size: 120px;
      background-position: center center;
      /* background-attachment: fixed; */
      /* background-size: cover;
    } */
    
    /* .cards {
      grid-template-columns: 1fr;
      /* grid-template-rows: 1fr; */
    /* } */

  /* } */ 

